<div class="row container mt-4">
  <div class="col-3">
    <app-sidebar></app-sidebar>
    <div class="footer" style="margin-top: 15px;">
      <small>By Luis Serrano (<a title="Ferando Herrera"
          href="https://www.udemy.com/course-dashboard-redirect/?course_id=3662358">Angular
          Course</a>)</small><br>
      <div class="text-center">
        <a href="https://github.com/felloz/angular-paises" target="_blank" class="badge badge-primary"><i
            class="fa fa-github mr-2"></i>
          GitHub</a>
      </div>


    </div>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>